<div class="container min-w-full min-h-screen p-2">
  <div class="card w-full sm:w-10/12 md:w-6/12 lg:w-4/12">
    <h1 class="h1">Sign up</h1>
    <div *ngFor="let field of fields" class="relative my-4">
      <span class="absolute top-0 left-0 pt-1">
        <app-icon [name]="field.icon"></app-icon>
      </span>
      <input
        class="input p-1 pl-8"
        [type]="field.type"
        [name]="field.name"
        [placeholder]="field.placeholder"
      />
    </div>
    <button class="btn bg-blue-700 hover:bg-blue-900">Create an account</button>
    
  </div>
</div>
